@font-face { font-family:DellaRespira; src:url(../fonts/Della_Respira/DellaRespira-Regular.ttf); }
body,h1 { margin:0; padding:0; }
html,body { height:100%; }
body { background:#f5bd07; font-family:DellaRespira, serif; 	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#f5bd07), color-stop(33%,#fdf402));  background: -webkit-linear-gradient(top,  #f5bd07 15%,#fdf402 33%); background: linear-gradient(top,  #f5bd07 15%,#fdf402 33%);}
ul { margin:127px auto 0; padding:0; width:90%; }
h1 { font-size:20px; background:#000; color:#fff; height:52px; line-height:52px; text-align:right; }
img { position:absolute; top:0; -webkit-transition:top 1s; -webkit-transform:rotate(-10deg) scale(0.7); }
li { list-style-type:none; background:#000000; height:45px; margin-bottom:10px; color:#fff; text-indent:22px; line-height:45px; -webkit-tap-highlight-color:rgba(255,255,255,0); border-radius:10px; -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.5); text-shadow:1px 1px 1px rgba(0,0,0,1); }
li:first-child { background:#733c0a; }
li:nth-child(2) { background:#ab5110; }
li:nth-of-type(3) { background:#cd5d14; }
li:nth-last-child(2) { background:#e46516; }
li:last-child { background:#ff721d; }